@font-face {
  font-family: 'Minecraft';
  src: url(/font/1_Minecraft-Regular.otf);
}

@font-face {
  font-family: 'papryk';
  src: url(/font/Papryk1.ttf);
  font-size: 120px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222222;
   color: white;
   text-align: center;
   height: 25px;
}

.footer {
    color: white;
	font-family: 'Raleway';
}

body {
    font-family: 'Minecraft';
	background: black;
}

h1 {
    color: white;
	text-align: center; 
	padding-top: 150px;
	font-size: 80px;
}

.linki {
    font-size: 30px;
	text-align: center;
}
	
.tlumacz {
    text-align: center;
	font-size: 25px;
}	
	
.tlumaczenie {
    text-align: center;
    font-family: papryk;
    color: white;
	font-size: 100px;
}
